{% extends 'base.html' %}
{% block title %}FurPaws - Home{% endblock %}
<a href="/logout">PRESS TO LOGOUT</a>


{% block body_content %}
<div class="main-feed">
    <div class="rectangle-3"></div>
    <div class="rectangle-4"></div>
      <button class="share-something" data-bs-toggle="modal" data-bs-target="#addPostModal" data-bs-whatever="@getbootstrap" type="button">
        Share something...
      </button>
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Create Post
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <form method='post' action='' enctype="multipart/form-data">
              <div class="form-group">
                <label for="message-text" class="col-form-label float-start">
                  picture, {{current_user.first_name}} <br/> {{current_user.tag}}
                </label>
                {{form.post_description(class="form-control", placeholder="How are you feeling today, "+ current_user.tag + "?")}}
              </div>
            </div>
          <div class="image-preview">
            Image preview here:   
          </div>
          <div class="modal-footer"> 
            <label for="add_photos" class="add-post-btns" name="add_photos"><img src="../../static/img/image-line.png"/>
                  Add Photos
            </label>

            <label for="add_videos" name="add_videos" class="add-post-btns">
            <img src="../../static/img/movie-line.png">
                Add Videos
            </label>
            <input type="file" name="files[]" multiple="true" id="add_photos" accept="image/png, image/jpg, image/jpeg" onclick="imageTooLargeAlert();" hidden>
            <input type="file" name="add_videos" multiple="true" id="add_videos" accept="video/mp4" onclick="videoTooLargeAlert();"hidden>

            {{form.csrf_token}}{{form.add_post_button(class="submit-post")}}

            </form>
            <div id="videoAlertBox">
              <div class="videoAlertMessage">
                <br>
                File is too large!
                <br>
                Video files cannot exceed 100 MB!
              </div>
              <br>
              
              <button class="videoAlertButton" onclick="hide">
                OK
              </button>
           </div>
            <div id="imageAlertBox">
              <div class="imageAlertMessage">
                <br>
                File is too large!
                <br>
                Image files cannot exceed 10 MB!
              </div>
              <br>

              <button class="imageAlertButton">
                OK
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="main-feed-posts">
      {% for post in main_feed %}
        <div class="shadow p-3 mb-5 bg-body rounded" style="width: 1200px;">
        {{post.post_id}}
        @{{ post.author_tag }}
        {{ post.post_content}}
        <h2>
          {{ post.date_posted.strftime("%d,%b %Y").lower()}}
        </h2>

        {% if post.author_tag == current_user.tag %}
          <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deletePostModal{{post.post_id}}">
            Delete
          </button>
          <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editPostModal{{post.post_id}}" data-bs-whatever="@getbootstrap" type="button">
            Edit
          </button>
        {% endif %}


      <!-- Delete Post Modal -->
      <div class="modal fade" id="deletePostModal{{post.post_id}}" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete Post
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <form action="{{url_for('home.delete_post', post_id=post.post_id)}}" method="POST">
                {{form.csrf_token}}
                <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Post Modal -->
      
      <div class="modal fade" id="editPostModal{{post.post_id}}" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editPostModalLabel">
                Edit Post
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form action="/home/update/{{post.post_id}}" method="POST">
                <textarea class="form-control" name="post_description" id="post_description" placeholder="{{post.post_content}}" required>
                  {{post.post_content}}
                </textarea>
            </div>
            <h5 align="left">
              Image Preview:
            </h5>
            {% for photo in post.photos %}
              <div>
                <img src="{{photo.photo_url}}" height="200px" width="150px"/> {{photo.photo_id}}
              <div>
                <button class="btn btn-success" style="width: 150px;">
                  Replace
                </button>
                <input type="submit" class="btn btn-danger" style="width: 150px;" value="Remove">
              </div>
            </div>
            {% endfor %}
            <div class="modal-footer">    
              {{edit_form.csrf_token}}
              {{edit_form.edit_post_button(class="submit-post")}}
              </form>
            </div>
          </div>
        </div>
      </div>




      


      <br/>
      {% if post.author_tag == current_user.tag %}
      {% for comment in post.comments %}
      {% if comment.author_tag == current_user.tag %}
        <a href="#">{{comment.author_tag}}</a> {{comment.comment_content}}<button class="btn btn-success btn-sm">Edit</button><button class="btn btn-danger btn-sm">Delete</button><br/>
      {% else %}
      <a href="#">{{comment.author_tag}}</a> {{comment.comment_content}}<button class="btn btn-danger btn-sm">Delete</button><br/>
      {% endif %}
      {% endfor %}
      {% else %}
      {% for comment in post.comments %}
      {% if comment.author_tag == current_user.tag %}
        <a href="#">{{comment.author_tag}}</a> {{comment.comment_content}}<button class="btn btn-success btn-sm">Edit</button><button class="btn btn-danger btn-sm">Delete</button><br/>
      {% else %}
      <a href="#">{{comment.author_tag}}</a> {{comment.comment_content}}<br/> 
      {% endif %}
      {% endfor %}
      {% endif %}


      <form class="input-groub mb-3" method="POST" action="/home/create-comment/{{post.post_id}}">
        <textarea class="form-control" style="width: 1000px;" id="comment_textbox" name="comment_textbox" placeholder="Say something about this post..."></textarea>
        {{form.csrf_token}}<br/>
        <button type="submit" 
        style=
        "border-radius: 10px;
        width:85%;
        padding: 10px;
        border:none;
        outline:none;
        background-color: rgb(109, 216, 235);
        color: white">Another Comment</button>
      </form>
    </div>

    {% endfor %}

    </div>
  </div>
</div>
{% endblock %}