{% extends 'base.html' %}
{% block title %} FurPaws - Home {% endblock %}
<a href="/logout">PRESS TO LOGOUT</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  

{% block body_content %}
<div class="main-feed" id="main-feed">
  <div class="add-post">
    <div id="create-post-layout">
      <div class="w-100">
        <div class="d-flex  justfy-content-start align-items-center w-100" style="column-gap: 10px;">
          <img src="../../static/img/test_profilepic.png" style="border-radius:50%; height:50px; width:50px;" alt="">
          <button class="share-something" data-bs-toggle="modal" data-bs-target="#addPostModal" data-bs-whatever="@getbootstrap" type="button" style="font-size: 16px;">
            Share something...
          </button>
        </div>
        <div class="d-flex justify-content-start align-items-center w-100" style="margin-top:10px; margin-left: 55px;">
            <label data-bs-toggle="modal" data-bs-target="#addPostModal" class="ss-add-post-photo-btns" name="add_photos">
              <img src="../../static/img/image-line.png"/>
              <span class="ms-1">Add Photos</span>
            </label>
            <label data-bs-toggle="modal" data-bs-target="#addPostModal" name="add_videos" class="ss-add-post-video-btns">
              <img src="../../static/img/movie-line.png">
                  <span class="ms-1">Add Videos</span>
            </label>
        </div>
      </div>
    </div>
  </div>
    

    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cpost-modal-title">Create Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="message-text" class="col-form-label float-start">
                  <div class="cpost-upper">
                    <img class="cpost-profile-pic" img src="../../static/img/postprofile.jpg"/>
                    <h5 class="post-username">{{current_user.tag}}</h5>
                  </div>
                </label>
              <div>
                {{form.post_description(class="form-control")}}
              </div>
            </div>
          <div class="modal-footer" style="justify-content: flex-start;"> 
            <label for="add_photos" class="add-post-btns" name="add_photos"><img src="../../static/img/image-line.png"/>
                  Add Photos
            </label>
            <label for="add_videos" name="add_videos" class="add-post-btns">
            <img src="../../static/img/movie-line.png">
                Add Videos
            </label>
          </div>
            
            <input type="file" name="files[]" multiple="true" id="add_photos" accept="image/png, image/jpg, image/jpeg" onclick="imageTooLargeAlert();" hidden>
            <input type="file" name="add_videos" multiple="true" id="add_videos" accept="video/mp4" onclick="videoTooLargeAlert();" hidden>
            <div class="add-post-preview-container" id="add-post-preview-container">
            </div>
            <div class="add-post-preview-container2" id="add-post-preview-container2">
            </div>

            {{form.csrf_token}}{{form.add_post_button(class="submit-post")}}
            </form>
            <div id="videoAlertBox">
              <div class="videoAlertMessage">
                <br>
                File is too large!
                <br>
                Video files cannot exceed 100 MB!
              </div>
              <br>
              
              <button class="videoAlertButton" onclick="hide">
                OK
              </button>
           </div>
            <div id="imageAlertBox">
              <div class="imageAlertMessage">
                <br>
                File is too large!
                <br>
                Image files cannot exceed 10 MB!
              </div>
              <br>

              <button class="imageAlertButton">
                OK
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

  <div class="main-feed-posts">
    {% for post in main_feed %}
      <!-- Delete Post Modal -->
      <div class="modal fade" id="deletePostModal{{post.post_id}}" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete Post
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <form action="{{url_for('home.delete_post', post_id=post.post_id)}}" method="POST">
                {{form.csrf_token}}
                <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Post Modal -->
      <div class="modal fade" id="editPostModal{{post.post_id}}" tabindex="-1" 
        aria-labelledby="editPostModalLabel" aria-hidden="true" width="800px" height="500px">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editPostModalLabel">
                Edit Post
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form action="/home/update/{{post.post_id}}" method="POST">
              <textarea class="form-control" name="post_description" id="post_description">{{post.post_content}}</textarea>
            
            
            {% if post.photos %}
            <div class="edit-post-media-cont">
              {% for photo in post.photos %}
              <div class="media-wrapper-img" id="media-wrapper-img{{photo.photo_id}}">
                <img class="modal-clicked-photo" src="{{photo.photo_url}}">
                <button id="deletepic{{photo.photo_id}}" type="button" class="btn text-white" hx-post="/photos/delete/confirm/{{photo.photo_id}}" hx-trigger="click" hx-target="#deletepic{{photo.photo_id}}" hx-swap="outerHTML"><i class="bi-trash-fill text-white"></i><span class="ps-1">Remove</span></button>
              </div>

              {% endfor %}
            </div>
            {% endif %}
            
            {% if post.videos %}
               <div class="edit-post-media-cont">
                {% for video in post.videos %}
                <div class="media-wrapper-vid" id="media-wrapper-vid{{video.video_id}}">
                  <video src="{{video.video_url}}"></video>
                  <button id="deletevid{{video.video_id}}" type="button" class="btn text-white" hx-post="/videos/delete/confirm/{{video.video_id}}" hx-trigger="click" hx-target="#deletevid{{video.video_id}}" hx-swap="outerHTML"><i class="bi-trash-fill text-white"></i><span class="ps-1">Remove</span></button>
                </div>

                
                {% endfor %}
              </div>
            {% endif %}
           
            <div class="modal-footer">    
              {{edit_form.csrf_token}}
              {{edit_form.edit_post_button(class="submit-post")}}
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
     
      <!-- post containers -->
    <div class="search-result-post search-result">
      <div class="search-result-post-upper">
        {% set first_name = post.author.first_name.split(' ') %}
          <a href="/profiles/{{post.author_tag}}"> 
            <img src="../../static/img/postprofile.jpg" alt="" style="height: 58px; width:58px; overflow:hidden; border-radius:50%">
          </a>
          <div style="padding-bottom:0px; padding-left: 10px;">
              <a href="/profiles/{{post.author_tag}}" class="post-upper text-dark pb-1 fs-5 fw-bold">
              <p class="d-inline fw-medium" style="font-size:14px;">
                {{first_name[0]}} {{post.author.last_name}}
              </p>
              <p class="d-inline text-muted fw-normal" style="font-size:14px;">
                &middot; {{post.author_tag}}
              </p>
            </a>	
            <p class="text-muted" style="font-size: 12px; margin:0; text-align:left;">{{ post.date_posted.strftime("%d, %b %Y").lower()}}</p>
            </div>
            <div class="post-upper-right">
              <div class="dropdown">
                <button class="post-settings"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg></button>
                <div class="dropdown-content">
                  {% if post.author_tag == current_user.tag %} 
                  <a data-bs-toggle="modal" data-bs-target="#editPostModal{{post.post_id}}">Edit</a>
                  <a data-bs-toggle="modal" data-bs-target="#deletePostModal{{post.post_id}}">Delete</a>
                  {%else%}
                  <a>Report</a>
                  {%endif%}
                </div>
              </div>
            </div>
      </div>

      {% if post.post_content%}
      <div class="search-result-post-desc">
          {{post.post_content}}
      </div>
      {% endif %}

      {% if post.photos or post.videos %}
      <div class="search-result-post-media">
        {% if post.photos|length == 1 %}
          <img src="{{post.photos[0].photo_url}}" alt="">
        {% elif post.videos|length == 1 %}
        <video class="" src="{{post.videos[0].video_url}}" controls></video> 
        {% else %}
        <div id="search-result-post-carousel{{post.post_id}}" class="carousel slide">
          <div class="carousel-indicators">
            {% if post.photos or post.videos %}
              {% if post.photos %}
                {% for photo in post.photos %}
                  {% if loop.first %}
                    <button type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide-to="{{loop.index0}}" class="active"></button>
                  {% else %}
                    <button type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide-to="{{loop.index0}}"></button>
                  {% endif %}	
                {% endfor %}
              {% endif %}

              {% if post.videos %}
                {% for video in post.videos %}
                  {% set loop_index = post.photos|length + loop.index0 %}
                    {% if loop.first %}
                      {% if not post.photos %}
                        <button type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide-to="{{loop_index}}" class="active"></button>
                      {% else %}
                        <button type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide-to="{{loop_index}}"></button>
                      {% endif %}
                      {% else %}
                      <button type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide-to="{{loop_index}}"></button>
                    {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>

          <div class="carousel-inner search-result-inner-carousel" id="search-result-inner-carousel{{post.post_id}}">
            {% if post.photos %}            
              {% for photo in post.photos %}
                {% if loop.first %}
                  <div class="carousel-item active ">
                    <img class="" src="{{photo.photo_url}}"/>
                  </div>
                {% else %}
                <div class="carousel-item">
                  <img class="" src="{{photo.photo_url}}"/>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}

          {% if post.videos %}
            {% for video in post.videos %}
              {% set loop_index = post.photos|length + loop.index0 %}
                {% if loop.first %}
                  {% if not post.photos %}
                    <div class="carousel-item active">
                      <video class="" src="{{video.video_url}}" controls></video> 
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      <video class="" src="{{video.video_url}}" controls></video> 
                    </div>
                  {% endif %}
                {% else %}
                  <div class="carousel-item ">
                    <video class=" " src="{{video.video_url}}" controls></video> 
                  </div>
                {% endif %}
            {% endfor %}
          {% endif %}
          </div>
          <script>
            // Get all of the images in the container
            $('.search-result-inner-carousel').ready(function() {

              let maxHeight = 0;
              $('#search-result-inner-carousel{{post.post_id}} img').each(function(){
                if ($(this).height() > maxHeight) {
                  maxHeight = $(this).height();
                }
              })

              $('#search-result-inner-carousel{{post.post_id}} video').each(function(){
                if ($(this).height() > maxHeight) {
                  maxHeight = $(this).height();
                }
              })

              $('#search-result-inner-carousel{{post.post_id}}').height(maxHeight);
              
            })
            
          </script>


          <button class="carousel-control-prev" type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#search-result-post-carousel{{post.post_id}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="post-bottom-part">
        <div class="d-flex justify-content-start align-items-center h-100" style="column-gap:10px;">
          <button class="post-hearts">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg></button>
            <span> 25.4k </span>
        </div>
        
        <div class="d-flex justify-content-start align-items-center h-100" style="column-gap:10px;">
          <button class="post-comments">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
              <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg></button>
            <span>5.2k</span>
        </div>
        
        <div class="d-flex justify-content-start align-items-center h-100" style="column-gap:10px;">
          <button class="post-shares"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" border-color="blue" class="bi bi-share-fill" viewBox="0 0 16 16">
            <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
          </svg></button>
          <span>1.5k</span>
        </div>
      
      </div>
    </div>
        {% endfor %}
  </div>

<!-- RIGHT SIDE -->
<div class="main-feed-right">
  <div id="people-suggestion">
    <h6 class="fw-medium" style="padding-top: 10px; padding-left:10px;">Meet new people</h6>
    {% for user in user_sugg%}
    <div class="user_sugg">
      <img src="../../static/img/test_profilepic.png" alt="">
      <div class="d-flex flex-column" style="row-gap: 0px;">
        {% set first_name = user.first_name.split(' ')[0] %}
        <a href="/profiles/{{user.tag}}">
          <span class="text-dark fw-semibold fs-14">{{first_name}} {{user.last_name}}</span>
          <span class="text-muted fs-14">&middot; {{user.tag}}</span>
        </a>
        <span class="fs-12 w-100" style="text-align:left ;">{{user.city}}, {{user.state}}</span>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock %}


