{% extends 'base.html' %} 
  {% block title %} FurPaws - Home {% endblock %}
  <a href="/logout">PRESS TO LOGOUT</a>

  {% block body_content %}
    <div class="main-feed">
	    <div class="rectangle-3"></div>
	    <div class="rectangle-4"></div>
      <button class="share-something" data-bs-toggle="modal" data-bs-target="#addPostModal" data-bs-whatever="@getbootstrap" type="button">
		    Share something...
	    </button>
	    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    <div class="modal-header">
					    <h5 class="modal-title" id="exampleModalLabel">
						    Create Post
					    </h5>
					    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						    <span aria-hidden="true"></span>
					    </button>
				    </div>
				    <div class="modal-body"><form method='post' action='' enctype="multipart/form-data">
					    <div class="form-group">
						    <label for="message-text" class="col-form-label float-start">
							    picture, {{current_user.first_name}} <br/> {{current_user.tag}}
						    </label>
						    {{form.post_description(class="form-control", placeholder="How are you feeling today, "+ current_user.tag + "?")}}
				      </div>
				    </div>
            Image preview here: 
				    <div class="modal-footer"> 
					    <label for="add_photos" class="add-post-btns" name="add_photos"><img src="../../static/img/image-line.png"/>
						    Add Photos
					    </label>

					<label for="add_videos" name="add_videos" class="add-post-btns">
						<img src="../../static/img/movie-line.png">
						Add Videos
					</label>
					<input type="file" name="files[]" multiple="true" id="add_photos" accept="image/png, image/jpg, image/jpeg" onclick="imageTooLargeAlert();" hidden>
					<input type="file" name="add_videos" multiple="true" id="add_videos" accept="video/mp4" onclick="videoTooLargeAlert();"hidden>

					{{form.csrf_token}}{{form.add_post_button(class="submit-post")}}</form>

				  <div id="videoAlertBox">
					  <div class="videoAlertMessage">
						  <br>
						  File is too large!
						  <br>
						  Video files cannot exceed 100 MB!
					  </div>
					  <br>
					  <button class="videoAlertButton" onclick="hide">
						  OK
					  </button>
 				  </div>

				  <div id="imageAlertBox">
					  <div class="imageAlertMessage">
						  <br>
						  File is too large!
						  <br>
						  Image files cannot exceed 10 MB!
					  </div>
					  <br>
					  <button class="imageAlertButton">
						  OK
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
  <div class="main-feed-posts">
	  {% for post in main_feed %}


      {% if share_posts %}
        {% for shared in share_posts %}
          {% if post.post_id == shared.reference_id %}
            <div class="card">
              @{{shared.sharer_tag}} shared this <strong>post</strong>
            </div>
          {% endif %}
        {% endfor %}
        {% if post.post_id in share_posts|map(attribute="reference_id")|list %}
          <div class="card">
            <a href="#">
              {% for shared in share_posts %}
              {% if current_user.tag == shared.sharer_tag and post.post_id == shared.reference_id %}
              <br>
              <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deletePostModal{{post.post_id}}">
                Delete
              </button>
              <br>
              {% endif %}
              {% endfor %}
            @{{post.author_tag}}
            {{post.post_content}}
            <h2>
              {{ post.date_posted.strftime("%d,%b %Y").lower()}}
            </h2>
            </a>
            <div class="card-footer" style="background-color:white; position:flex;">
              {% if current_user.tag in post.likes|map(attribute="author_tag")|list %}
                {% for like in post.likes %}
                  {% if current_user.tag == like.author_tag %}
                    <a href="home/unlike-post/{{like.id}}"><img src="../../static/img/like_filled.png" width="35px" height="33px"></a>
                  {% endif %}
                {% endfor %}
              {% else %}
                <a href="home/like-post/{{post.post_id}}"><img src="../../static/img/like_unfilled.png" width="35px" height="33px"></a>
              {% endif %}
              {{ post.likes|length }}
            </div>
          </div>
        {% else %}
          <div class="card">
            <div class="card-header">
              {{post.post_id}}
            </div>
            <div class="card-body">
              <div class="card-text">
                @{{ post.author_tag }}
                {{post.post_content}}
                <h2>
                  {{ post.date_posted.strftime("%d,%b %Y").lower()}}
                </h2>
              </div>
              {% if post.author_tag == current_user.tag %}
                <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deletePostModal{{post.post_id}}">
                  Delete
                </button>
                <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editPostModal{{post.post_id}}" data-bs-whatever="@getbootstrap" type="button">
                  Edit
                </button>
              {% endif %}
                <button class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#sharePostModal{{post.post_id}}">
                  Share 
                </button>
                <u>Shares</u> {{post.sharedposts|length}}
              <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}">
                View Comments
              </button>
              <br/>
            </div>
            <div class="card-footer" style="background-color:white; position:flex;">
              {% if current_user.tag in post.likes|map(attribute="author_tag")|list %}
                {% for like in post.likes %}
                  {% if current_user.tag == like.author_tag %}
                    <a href="home/unlike-post/{{like.id}}"><img src="../../static/img/like_filled.png" width="35px" height="33px"></a>
                  {% endif %}
                {% endfor %}
              {% else %}
                <a href="home/like-post/{{post.post_id}}"><img src="../../static/img/like_unfilled.png" width="35px" height="33px"></a>
              {% endif %}
              {{ post.likes|length }}
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="card">
          <div class="card-header">
            {{post.post_id}}
          </div>
          <div class="card-body">
            <div class="card-text">
              @{{ post.author_tag }}
              {{post.post_content}}
              <h2>
                {{ post.date_posted.strftime("%d,%b %Y").lower()}}
              </h2>
            </div>
            {% if post.author_tag == current_user.tag %}
              <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deletePostModal{{post.post_id}}">
                Delete
              </button>
              <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editPostModal{{post.post_id}}" data-bs-whatever="@getbootstrap" type="button">
                Edit
              </button>
            {% endif %}
              <button class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#sharePostModal{{post.post_id}}">
                Share 
              </button>
              <u>Shares</u> {{post.sharedposts|length}}
            <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}">
              View Comments
            </button>
            <br/>
          </div>
          <div class="card-footer" style="background-color:white; position:flex;">
            {% if current_user.tag in post.likes|map(attribute="author_tag")|list %}
              {% for like in post.likes %}
                {% if current_user.tag == like.author_tag %}
                  <a href="home/unlike-post/{{like.id}}"><img src="../../static/img/like_filled.png" width="35px" height="33px"></a>
                {% endif %}
              {% endfor %}
            {% else %}
              <a href="home/like-post/{{post.post_id}}"><img src="../../static/img/like_unfilled.png" width="35px" height="33px"></a>
            {% endif %}
            {{ post.likes|length }}
          </div>
        </div>
      {% endif %}






		    <!-- Delete Post Modal -->
		    <div class="modal fade" id="deletePostModal{{post.post_id}}" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
				    <div class="modal-content">
					    <div class="modal-header">
						    <h1 class="modal-title fs-5" id="deleteModalLabel">
							    Delete Post
						    </h1>
						    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					    </div>
					    <div class="modal-body">
						    Are you sure you want to delete this post?
					    </div>
				      <div class="modal-footer">
					      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						      Close
					      </button>
					      <form action="{{url_for('home.delete_post', post_id=post.post_id)}}" method="POST">
						      {{form.csrf_token}}
						      <input type="submit" class="btn btn-danger" value="Delete">
					      </form>
				      </div>
			      </div>
		      </div>
	      </div>

        <!-- Share Post -->
        <div class="modal fade" id="sharePostModal{{post.post_id}}" tabindex="-1" aria-labelledby="sharePostModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
				    <div class="modal-content">
					    <div class="modal-header">
						    <h1 class="modal-title fs-5" id="shareModalLabel">
							    Share Post
						    </h1>
						    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					    </div>
					    <div class="modal-body">
						    Are you sure you want to share this post?
					    </div>
				      <div class="modal-footer">
					      <form action="{{url_for('home.share_post', post_id=post.post_id)}}" method="POST">
						      {{form.csrf_token}}
						      <input type="submit" class="submit-post" value="Share Post">
					      </form>
				      </div>
			      </div>
		      </div>
	      </div>

	      <!-- Edit Post Modal -->

	      <div class="modal fade" id="editPostModal{{post.post_id}}" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
			      <div class="modal-content">
				      <div class="modal-header">
					      <h1 class="modal-title fs-5" id="editPostModalLabel">
						      Edit Post
					      </h1>
					      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					      </button>
				      </div>
				      <div class="modal-body">
                <form action="/home/update/{{post.post_id}}" method="POST">
						      <textarea class="form-control" name="post_description" id="post_description" placeholder="{{post.post_content}}" required>{{post.post_content}}</textarea>
				      </div>
				      <h5 align="left">
				        Image Preview:
				      </h5>
              <div class="card">
                <div class="card-body d-flex flex-wrap justify-content-start">
                  {% for photo in post.photos %}
                      <div class="image-preview d-flex justify-content-center position-relative">
                        <img src="{{photo.photo_url}}" alt="Image">
                        <span class="position-absolute">&times;</span>
                      </div>
                  {% endfor %}
                </div>
              </div>
			        <div class="modal-footer">
                <label for="add_photos" class="add-post-btns" name="add_photos"><img src="../../static/img/image-line.png"/>
                  Add Photos
                </label>
      
                <label for="add_videos" name="add_videos" class="add-post-btns">
                  <img src="../../static/img/movie-line.png">
                  Add Videos
                </label>
                <input type="file" name="files[]" multiple="true" id="add_photos" accept="image/png, image/jpg, image/jpeg" onclick="imageTooLargeAlert();" hidden>
            <input type="file" name="add_videos" multiple="true" id="add_videos" accept="video/mp4" onclick="videoTooLargeAlert();"hidden>  
				        {{edit_form.csrf_token}}
				        {{edit_form.edit_post_button(class="submit-post")}}</form>
					    </div>
				    </div>
			    </div>
		    </div>

        <div class="modal fade" id="viewCommentsModal{{post.post_id}}" tabindex="-1" role="dialog" aria-labelledby="viewCommentsModalLabel{{post.post_id}}" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title fs-5" id="viewCommentsModalLabel{{post.post_id}}">
                  @{{post.author_tag}}'s post
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="card mt-3 mb-3 p-3">
                "{{post.post_content}}"
              </div>
              <div class="modal-body bg-info bg-opacity-10" >
                <div class="collapse" id="comments-{{post.post_id}}">
                  <div class="card">
                    <div class="card-body">
                      {% if post.author_tag == current_user.tag %}
                        {% for comments in post.comments %}
                          {% if comments.author_tag == current_user.tag %}
                            <div class="card text-start">
                              <div class="card-body">
                                <a href="#">{{comments.author_tag}}</a>
                                {{comments.comment_content}}
                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editCommentModal{{comments.comment_id}}">
                                  Edit
                                </button>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCommentModal{{comments.comment_id}}">
                                  Delete  
                                </button>
                              </div>
                            </div>
                            <br>
                          {% else %}
                            <div class="card">
                              <div class="card-body">
                                <a href="#">{{comments.author_tag}}</a>
                                {{comments.comment_content}}
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCommentModal{{comments.comment_id}}">
                                  Delete
                                </button>
                              </div>
                            </div>
                            <br>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for comments in post.comments %}
                            {% if comments.author_tag == current_user.tag %}
                              <div class="card">
                                <div class="card-body">
                                  <a href="#">{{comments.author_tag}}</a>
                                  {{comments.comment_content}}
                                  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editCommentModal{{comments.comment_id}}">
                                    Edit
                                  </button>
                                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCommentModal{{comments.comment_id}}">
                                    Delete  
                                  </button>
                                </div>
                              </div>
                              <br>
                            {% else %}
                              <div class="card">
                                <div class="card-body">
                                  <a href="#">{{comments.author_tag}}</a>
                                  {{comments.comment_content}}
                                </div>
                              </div>
                              <br>
                            {% endif%}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <p class="card-text">
                  {% if post.comments|length > 0 %}
                    <a data data-bs-toggle="collapse" href="#comments-{{post.post_id}}" role="button">
                      <small>
                        View {{post.comments|length}} Comments
                      </small>
                    </a>
                  {% else %}
                    <small class="text-muted">No comments!</small>
                  {% endif %}
                </p>
              </div>
              <div class="modal-footer">
                <form class="input-group mb-3" method="POST" action="/home/create-comment/{{post.post_id}}">
                <textarea class="form-control" style="width: 115px;" id="comment_textbox" name="comment_textbox" placeholder="Say something about this post..."></textarea>
                {{form.csrf_token}}
                <br><pre> </pre>
                <button type="submit" 
                style=
                "border-radius: 10px;
                width:170px;
                padding: 3px;
                border:none;
                outline:none;
                background-color: rgb(109, 216, 235);
                color: white;">
                  Comment
                </button>
                </form>
              </div>
              <br>

            </div>
          </div>
        </div>
        {% for comments in post.comments %}
        <div class="modal fade" id="editCommentModal{{comments.comment_id}}" tabindex="-1" role="dialog" aria-labelledby="editCommentModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="editCommentModalLabel">
                  Edit Comment
                </h1>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}"></button>
              </div>
              <div class="modal-body">
                <form action="/home/update-comment/{{comments.comment_id}}" method="POST">
                  <textarea class="form-control" name="edit_comment_textbox" id="edit_comment_textbox" placeholder="{{comments.comment_content}}" required>{{comments.comment_content}}</textarea>
              </div>
              <div class="modal-footer">
                {{edit_comment_form.csrf_token}}
                {{edit_comment_form.edit_comment_button(class="submit-post")}}</form>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}" style="width:100%">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deleteCommentModal{{comments.comment_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCommentModalLabel">
                  Delete Comment
                </h1>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this comment?
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewCommentsModal{{post.post_id}}">
                  Cancel
                </button>
                <form action="{{url_for('home.delete_comment', comment_id=comments.comment_id)}}" method="POST">
                  {{form.csrf_token}}
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- LIKES  -->
      <br/>

    {% endfor %}

	</div>
</div>
{% endblock %}