@import "button-layout.css";

html {
    height: 100%;
}

body {
    min-height: 100vh;
    max-width: 1920px;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    background: rgba(193, 193, 193, 0.37);

}


.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.landing-bg {
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(228, 224, 224, 0.24), rgba(32, 32, 32, 0.479), rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 1)),
        url('../img/landing_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-bg2 {
    background-image: url('../img/landing_bg2.jpg');
    background-size: cover;
    background-repeat: repeat-y;

}

@media all and (min-width: 1200px) {
    .landing-bg {
        background-position: 50%;
    }
}

@media all and (max-width: 500px) {
    .landing-bg {
        background-position: 50%;
    }
}


.center-row {
    width: 80%;
    margin-left: 12.5%;
    margin-top: 12.5%;
}

.center-row-login {
    width: 80%;
    margin-left: 12.5%;
    margin-top: 5%;
}



.b-overlay {
    position: relative;
}

.a-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.small-logo {
    height: 100px;
}

.small-logo-text {
    height: 50px;
}

.load-from-right {
    animation: load-from-right .5s linear;
}

.hidden-anchor{
    position: absolute;
    top: -100px;
}

@keyframes load-from-right {
    from {
        transform: translateX(1%);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0%);

    }
}

.load-from-bottom {
    animation: load-from-bottom .5s linear;
}

@keyframes load-from-bottom {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0%);

    }
}

.fade-in {
    animation: fade-in .4s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.bounce {
    animation: bounce .8s linear;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8px);
    }

    60% {
        transform: translateY(-4px);
    }
}

.myshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.auth-input {
    border: none;
    outline-color: #1da1f2;
    outline-style: none;
    background-color: #ebebeb;
    height: 40px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: light;
    transition: .3s;
}

.register-input {
    border: none;
    outline-color: #1da1f2;
    outline-style: none;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(151, 148, 148);
    background-color: none;
    height: 40px;
    font-size: 13px;
    font-weight: light;
    transition: .3s;
    text-indent: 5px;
}

.register-input .register- select {
    height: 500px;
}


.mid-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 5vw;
    padding-right: 5vw;
}

.landing-mid-section {
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(228, 224, 224, 0.24), rgba(32, 32, 32, 0.479), rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 1)),
        url('../img/landing_bg.jpg');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 5vw;
    padding-right: 5vw;
}


@media all and (max-width: 900px) {
    .mid-section {
        justify-content: center;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.register-input-icon {
    position: relative;
}

.register-input-div input {
    text-indent: 35px;
    transition: .3s;
    color: rgb(43, 42, 42);
}

.register-input-div input+i,
.register-input-div select+i {
    position: absolute;
    font-size: 20px;
    color: #757575;
    padding: 87px 10px;
    transition: .15s linear;
}

.register-input-icon input:focus {
    transform: scale(1.05);
}

.register-input-icon input:not(:placeholder-shown) {
    border-color: #127bbd;
}


.input-icon {
    position: relative;
}

.text-indent {
    text-indent: 35px;
    color: #757575;

}

.input-icon input+i,
.input-icon select+i {
    position: absolute;
    font-size: 20px;
    color: #757575;
    padding: 7px 12px;
    transition: .3s linear, transform .2s;
}

.bg-fp-blue {
    background-color:#127bbd
}

.input-icon input[type=text],
.input-icon input[type=password],
.input-icon select {
    text-indent: 35px;
    transition: .3s linear;
    color: rgb(43, 42, 42);
}

.is-valid:focus {
    outline-color: none;
    box-shadow: none;
    text-shadow: none;
    outline-offset: 0;
    outline-style: none;
}



.input-icon input[type=text]:focus+i,
.input-icon input[type=password]:focus+i,
.input-icon select:focus+i {
    color: #1da1f2;
    padding: 7px 3px;

}


.input-icon input[type=text]:focus,
.input-icon input[type=password]:focus,
.input-icon select:focus {
    transform: scale(1.05);
}

.fp-text-blue {
    color: #1da1f2;
}

.btn-fp-blue {
    background-color: #1da1f2;
    color: white;
    transition: .5s;
}

.btn-fp-blue:hover {
    color: white;
    background-color: #1da1f2;
    transform: scale(1.1);
}

.btn.btn-fp-blue:active {
    background-color: #1da1f2;
    border-color: white;
    color: white;
    transform: scale(1);
}

.bg-fp-blue {
    background-color: #1da1f2;
}

.btn-link {
    color: #1da1f2;
    text-decoration: none;
    font-size: 13px;
    transition: .3s;
}

.btn-link:visited {
    color: #1da1f2;
}

.btn-link:hover {
    color: #127bbd;
    cursor: pointer;
}

.register-section {
    height: 100vh;
    width: 50vw;
    background-color: white;
    margin-left: 5vw;
}

@media all and (max-width: 1000px) {
    .register-section {
        width: 60vw;
    }

}

@media all and (max-width: 760px) {
    .register-section {
        width: 80vw;
    }

}

@media all and (max-width: 600px) {
    .register-section {
        width: 100vw;
    }

}

.fp-blue {
    color: #1da1f2;
}

.bottom-left-toast {
    position: fixed;
    bottom: 0;
    left: 0;
}

.toast-logo {
    height: 40px;
    padding: 0;
    margin: 0;
}

.toast-text-logo {
    height: 20px;
    padding: 0;
    margin: 0;
}


#top-nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    padding-left: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#top-nav .top-nav-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media all and (max-width: 1000px) {
    #top-nav .top-nav-container {
        justify-content: space-between;
    }

    #top-nav .top-nav-container .searchbar-container {
        margin-right: 20px;
        flex-grow: 1;
        max-width: 300px;

    }

    #top-nav .top-nav-container .searchbar-container .search-container {
        width: 100%;
    }

}


.search-container {
    position: relative;
    width: 458px;
    height: 35px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 18px;
    min-height: 27px;
    background-color:#c2c5c7b7;
    border-style: none;
    border-radius: 20px;
    outline: none;
    text-indent: 25px;
}

.search-container:focus {
    background-color:#c2c5c754 ;
}



.base-sidebar {
    z-index: 300;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    width: 235px;
    background-color: white;
    position: fixed;
    height: 460px;
    border-color: rgba(167, 144, 144, 0.664);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
    border-top: 3px solid #1DA1F2;

}

.base-sidebar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    row-gap: 18px;
}



.base-sidebar-nav li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




.base-sidebar-nav li .base-sidebar-icon{
    padding-left: 40px;
    padding-right: 15px;
    height: 25px;
}


.base-sidebar-nav .base-sidebar-pfp {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-right: 0px;
}


/* Sidebar links */
.base-sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Readex Pro';
    font-style: normal;
    text-align: justify-all;
    font-size: 15px;
}

.base-sidebar > pre > a > img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

/* Active/current link */
.base-sidebar a.active {
    background-color: white;
    color: #1DA1F2;
}

/* Links on mouse-over */
.base-sidebar a:hover:not(.active) {
    color: #1DA1F2;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
main.content {
    margin-left: 235px;
    position: relative;
    width: calc(100% - 235px);
    padding-bottom: 50px;
    height: 100vh;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .base-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .base-sidebar a {
        float: left;
    }

    main.content {
        margin-left: 0;
    }
}

.line-1 {
    position: absolute;
    width: 149px;
    height: 0px;
    left: 64px;
    top: 210px;
    border: 0.3px solid rgb(135, 135, 135)
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .base-sidebar a {
        text-align: center;
        float: none;
    }
}

.indicator {
    position: absolute;
    width: 5px;
    height: 24px;
    left: 230px;
    top: 208px;
    animation: 0.25s ease-out slideInRight;
    background: #1DA1F2;
    border-radius: 10px 0px 0px 10px;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.main-feed {
    margin-left: 100px;
    display: grid;
    padding-top: 15px;
    grid-template-columns: minmax(auto,540px) auto;
    grid-template-rows: 115px auto;
    row-gap: 15px;
    position: relative;
    align-items: center;
    height: 100%;
}

#main-feed .search-result { 
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100% !important;
    max-width: 540px;
}

.main-feed-right {
    grid-row: 1/3;
    display: flex;
    height: 100%;
    padding-left: 30px;
}

#people-suggestion {
    width: 315px;
    height: 300px;
    border-color: rgba(167, 144, 144, 0.664);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
    border-top: 3px solid #1DA1F2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: sticky;
    top: 70px;
}

.user_sugg{
    display: flex;
    justify-content: start;
    padding: 15px 0px 15px 15px ;
    column-gap: 10px;
    width: 100%;
}

.user_sugg img {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    object-fit: cover;
    overflow: hidden;
    background-size:contain;
    background-position:center;
    
}

.user_sugg a {
    display: block;
    text-decoration: none;
}

.user_sugg a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
}


.user_sugg:hover{
    background-color:#c2c5c7b7;
}

@media screen and (max-width:1000px) {
    .main-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    #main-feed .search-result {
        width: 100% !important;
        min-width: 300px;
    }

    .post-bottom-part {
        padding-left: 0px;
    }
    .add-post {
        margin-top: 15px;
        width: 100%;
    }

    .main-feed-right {
        display: none;
    }

    #create-post-layout {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px !important;
    }

    #create-post-layout button {
        width: 80% !important;
    }


    
}

@media screen and (max-width: 1200px) {
    .main-feed-right{
        display: none;
    }    
}

.main-feed-posts {
    grid-row: 2 /3 ;
    grid-column: 1 / 2;
}

.add-post {
    width: 100%;
    max-width: 540px;
    height: 100%;
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
    border-color: rgba(167, 144, 144, 0.664);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top: solid 3px #1DA1F2
}

.add-post label {
    height: 20px;
    font-size: 12px;
}

.add-post label img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}


#create-post-layout {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    height: 100%;
    background-color: white;
}

.share-something {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: left;
    text-indent: 20px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    -webkit-text-fill-color: #555050;
    font-size: 11px;
    line-height: 28px;
    background: #EBEBEB;
    border: none;
    letter-spacing: 0;
    border-radius: 50px;
    transition: opacity 0.3s;
}


.share-something:focus,
.share-something:active {
    border-color: transparent;
    outline: none;
}

.share-something:hover {
    opacity: 65%;
}


.rectangle-3 {
    position: absolute;
    width: 960px;
    height: 144px;
    top: 65px;
    background: #1DA1F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}



.rect-4-top {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    column-gap: 20px;
}

.rect-4-bot {
    width: 100%;
    display: flex;
    height: 10px;
    margin-left: 160px;
    margin-top: 5px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.rectangle-4 {
    position: absolute;
    justify-content: start;
    width: 960px;
    height: 170px;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)    
}

#upper-left {
    position: absolute;
    background-color: transparent;
    left: 40px;
    top: 40px;

}





.ss-add-post-photo-btns {
    position: relative;
    width: 142px;
    height: 45px;
    border-radius: 15px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    z-index: 100;
}

.ss-add-post-video-btns {
    position: relative;
    width: 138px;
    height: 45px;
    border-radius: 15px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    z-index: 100;
}

.ss-add-post-photo-btns:hover,
.ss-add-post-video-btns:hover {
    background-color: rgb(185, 240, 255);
    transition: 0.2s;
}

.top-ss-profpic {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.top-ss-profpic img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.cpost-upper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;

}

.cpost-upper h5 {
    text-align: center;
    vertical-align: middle;
}

.cpost-upper .post-username {
    top: -2px;
    padding-left: 12px;

}


.cpost-profile-pic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

#add-post-preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    position: relative;
    width: 100%;
}

#add-post-preview-container .img-wrapper {
    padding-top: 10px;
    position: relative;
}

#add-post-preview-container .close {
    position: absolute;
    top: 5px;
    right: 0px;
    line-height: 10px;
    font-size: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
    transition: linear .1s;
    padding: 5px;
    background-color: white;
    margin-top: 5px;
    border-radius: 50%;
}

#add-post-preview-container .close:hover {
    transform: scale(1.2);

}

.edit-post-media-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    position: relative;
    width: 100%;
}

.edit-post-media-cont .media-wrapper-img {
    padding-top: 10px;
    position: relative;
    margin-right: 5px;
}

.edit-post-media-cont .media-wrapper-img img {
    height: 300px;
}

.edit-post-media-cont .media-wrapper-vid {
    padding-top: 10px;
    position: relative;
    margin-right: 5px;
}

.edit-post-media-cont .media-wrapper-vid video {
    height: 150px;
}

.edit-post-media-cont button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fa6b6b;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    font-size: 16px;
}


.edit-post-media-cont button:hover {
    background-color: #f14d4d;

}

.edit-post-media-cont .media-wrapper-img button:active {
    background-color: #f53535;
}

.edit-post-media-cont .media-wrapper-vid {
    padding-top: 10px;
    position: relative;
}


#add-post-preview-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    position: relative;
    width: 100%;
}

#add-post-preview-container2 .img-wrapper {
    padding-top: 10px;
    position: relative;


}

#add-post-preview-container2 .close {
    position: absolute;
    top: 5px;
    right: 0px;
    line-height: 10px;
    font-size: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
    transition: linear .1s;
    padding: 5px;
    background-color: white;
    margin-top: 5px;
    border-radius: 50%;
}

#add-post-preview-container2 .close:hover {
    transform: scale(1.2);

}



.cpost-profile- img {
    width: auto;
    height: 100%;

}


.add-post-image-button {
    position: absolute;
    top: 145px;
    left: 175px;
    width: 142px;
    height: 45px;
    border-radius: 5%;
    background-color: white;
    border: none;
}

.add-post-video-button {
    position: absolute;
    top: 145px;
    left: 331px;
    width: 138px;
    height: 45px;
    border-radius: 5%;
    background-color: white;
    border: none;
}

.submit-post {
    width: 100%;
    background-color: #1DA1F2;
    border-radius: 5px;
    color: white;
    padding: 7px;
    border: none;
    margin-top: 3%;
}

.add-post-btns {
    background-color: none;
    padding-right: 5px;
    padding-left: 5px;
    width: 45%;
    text-align: center;
    border-radius: 20px;
    margin-left: 3%;
    cursor: pointer;
    transition: 0.2s;
}

.add-post-btns:hover {
    background-color: rgb(185, 240, 255);
    transition: 0.2s;

}



.post-container{
    top: 120px;
    position: relative;

}

.post-rectangle-4 {
    position: relative;
    width: 1060px;
    height: 460px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-rectangle-3 {
    position: relative;
    width: 1060px;
    height: 400px;
    top: 50px;
    background: #1DA1F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-upper-left {
    position: relative;
    display: flex;
    flex: row;
    top: 10px;
    left: 20px;
    padding-top: 10px;
}

.post-upper-left h3,
h5 {
    padding: 20px 3px 0px 15px;
}

.post-profile-pic {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    top: -5px;
}

.post-profile-content img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}


.post-username {
    position: relative;
    font-weight: bold;
    display: ;
    width: auto;
    top: 50px;
}

.post-upper-right {
    position: relative;
    display: table;
    height: 20px;
    border-color: 2px solid black;
    margin-left: auto;
    font-size: 12px;

}

.dropdown {
    display: inline-block;
    position: relative;
}


.post-settings {
    margin-right: 0px;
    margin-left: 70px;
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    outline: none;

}

.post-settings:hover,
.post-settings:focus {
    transition: 0.5s;
    color: black
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #1DA1F2;
}

.post-date {
    font-weight: lighter;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.post-middle-part {
    top: 10px;
    left: 10px;
    position: relative;
    display: flex;
    overflow: hidden;

}

.post-uploaded-content {
    height: 375px;
    width: 620px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.post-uploaded-content img,
.post-uploaded-content video {
    height: 360px;
    width: auto;
    display: block;
    justify-items: center;
}


.post-description {
    margin-top: 2px;
    margin-left: 5px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 385px;
    height: 310px;
    border-top: 1px solid gray;
    text-align: left;
    position: relative;
}

.post-bottom-part{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    padding-left: 25px;
    font-size: 13px;
    column-gap: 12px;
}

.post-bottom-part span{
    display: block;
    height: 100%;
    width: 30px !important;
}   

.post-bottom-part button {
    border-radius: 50%;
    background-color: transparent;
    resize: none;
    outline: none;
    color: lightgray;
    border: none;
}

.post-hearts:hover {
    color: red;
    cursor: pointer;
}

.post-hearts {
    color: rgb(224, 214, 214);
}

.post-hearts-filled {
    color: red;
}

.post-hearts-filled:hover {
    color: red;
    cursor: pointer;
}

.post-comments:hover {
    color: #1DA1F2;
    cursor: pointer
}

.post-comments-filled {
    color: #1DA1F2;
    cursor: pointer
}

.post-comments {
    color: rgb(224, 214, 214);
    cursor: pointer
}

.post-shares:hover {
    color: #1DA1F2;
}


/* START of POST WITH TEXT ONLY */

.post-wto-container {
    top: 120px;
    position: relative;

}

.hide {
    display: none;
}

.modal-content {
    border-radius: 0px;
}

.post-wto-profile-pic { 
    position: relative; 
    width: 330px; 
    height: 330px; 
    overflow: hidden; 
    border-radius: 50%;
    top: 83px;
    left: -340px;
    box-shadow: 0px 3px 3px rgba(0.25, 0, 0, 0.25)
}

.post-wto-profile-pic img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.post-wto-right-side {
    position: relative;
    left: 210px;
    top: -290px;
}

.post-wto-rectangle-4 {
    position: relative;
    width: 650px;
    height: 410px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-wto-rectangle-3 {
    position: absolute;
    width: 650px;
    height: 40px;
    left: 200px;
    background: #1DA1F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-wto-upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px
}

.post-wto-upper-left {
    position: relative;
    display: inline-flex;
}

.post-wto-upper-right {
    position: relative;
    display: inline-block;
    top: 5px;
}

.post-wto-upper-left h3,
h5 {
    padding: 15px 5px 5px 8px;
}

.post-wto-prof-pic {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    top: 5px;
}

.post-wto-prof-pic img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.post-wto-username {
    position: relative;
    font-weight: bold;
    display: inline-flex;
    width: auto;
    top: 10px;
}



.post-wto-settings {
    margin-right: 0px;
    margin-left: 100px;
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    outline: none;
}

.post-wto-settings:hover,
.post-settings:focus {
    transition: 0.5s;
    color: black;

}

.post-wto-date {
    font-weight: lighter;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.post-wto-middle-part {
    float: right;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: -50px;
}

.post-wto-description {
    margin-top: 2px;
    margin-left: 30px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 250px;
    border-top: 2px solid lightgray;
    text-align: left;
}

.post-wto-bottom-part {
    top: 15px;
    left: -120px;
    display: inline-flex;
    flex-direction: row;
    position: relative;

}


.post-wto-bottom-part h6 {
    padding: 10px 40px 0px 10px;
}

.post-wto-bottom-part button {
    border-radius: 50%;
    background-color: transparent;
    resize: none;
    outline: none;
    color: lightgray;
    border: none;
}

.post-wto-hearts:hover {
    color: red;
    cursor: pointer;
}

.post-wto-hearts {
    color: rgb(224, 214, 214);
}

.post-wto-hearts-filled {
    color: red;
}

.post-wto-hearts-filled:hover {
    color: red;
    cursor: pointer;
}

.post-wto-comments {
    color: rgb(224, 214, 214);
    cursor: pointer
}

.post-wto-comments:hover {
    color: #1DA1F2;
}

.post-wto-comments-filled {
    color: #1DA1F2
}

.post-wto-comments-filled:hover {
    color: #1DA1F2;
    cursor: pointer
}

.post-wto-shares:hover {
    color: #1DA1F2;
}

/* END of POST WITH TEXT ONLY CONTAINER */

/* START of POST WITH MUTIPLE PHOTOS */
.post-wmp-container {
    top: 140px;
    position: relative;

}

.post-wmp-rectangle-4 {
    position: relative;
    width: 1060px;
    height: 460px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21), 0 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-wmp-rectangle-3 {
    position: relative;
    width: 1060px;
    height: 370px;
    top: 30px;
    background: #1DA1F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px
}

.post-wmp-upper-right {
    position: relative;
    display: block;
    top: -580px;
    left: 450px;
    width: 100px;
    height: 20px;
    border-color: 2px solid black;

}

.post-wmp-settings {
    margin-left: 70px;
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    outline: none;

}

.post-wmp-middle-part {
    position: relative;
    margin-top: 220px;
    height: 315px;
    width: 1060px;
}

#post-wmp-desc {
    width: 600px;
    margin-top: -200px;
    width: 100%;
    height: 55px;
}

#post-wmp-desc span {
    display: block;
    text-align: left;
    margin-left: 25px;
}


.post-wmp-uploaded-content {
    position: relative;
    display: inline-flex;
    top: -190px;
    overflow: hidden;
    width: 1060px;
    align-items: center;
    justify-content: center
}

.slider-button {
    display: none;
}

.slider-button-visible {
    top: -477px;
    position: relative;
    height: 281px;
    width: 80px;
    left: 490px;
    border-radius: 0.5%;
    opacity: 80%;
    border: none;
    z-index: 100;
}

.slider-button-visible:hover {
    color: #1DA1F2;
}

.slider-button.hidden {
    display: none
}

.post-wmp-bottom-part {
    top: -210px;
    left: -320px;
    display: inline-flex;
    flex-direction: row;
    position: relative;
}

.post-wmp-bottom-part   {
    padding: 10px 40px 0px 10px;
}

.post-wmp-bottom-part button {
    border-radius: 50%;
    background-color: transparent;
    resize: none;
    outline: none;
    color: lightgray;
    border: none;
}

.post-wmp-uploaded-content img,
.post-wmp-uploaded-content video {
    position: relative;
    height: 280px;
    width: auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




#carousel-content-upper {
    background: none;
    border: none;
}

#carousel-header {
    border: none;
}

#carousel-header button {
    background: none;
    opacity: 1;
    position: relative;
    top: 3px;
    font-size: 30px;
}

#carousel-header span {
    color: white;
  }
  
  #carousel-body{
    padding: 0;
    border: none;
    position: relative;
}

.modal-clicked-photo {
    width: 300px;
    height: auto;

}

#carousel-body::before {
    top: -5px;
    left: -5px;
}

.carousel-constraint {
    min-height: 500px;
    max-height: 600px;
    max-width: 1200px;
}

#carousel-body::after {
    bottom: -5px;
    right: -5px;
    z-index: -1;
}

.modal-footer {
    border: none;
}

#carousel-footer .btn {
    margin: auto;
    border: solid 2px white;
    background: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-top: 30px;
    padding: 0.2em 0.7em;
}

#carousel-footer .btn:hover {
    background: white;
    color: black;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 50em;
    height: 75px;
    margin-top: 0px;
    background-color: rgba(95, 95, 95, 0.205);
    opacity: 1;
    display: absolute;
    margin: auto;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px;
    width: 80px;
    transition: 0.3s;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    height: 45px;
    width: 80px;
    transition: 0.3s;
}



/* Profile Page */
.profile-feed {
    height: 680px;
    margin-left: 35px;
    width: 1120px;
    height: 1580px;
    border: 2px dashed blue
}

.rectangle-profile {
    position: absolute;
    width: 1060px;
    height: 200px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.profile-right-side {
    position: absolute;
    left: 400px;
    top: 15px;
}

.profile-info-pic {
    display: inline-block;
    position: absolute;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    top: 28px;
    left: 95px;
    right: 10px;
    border: none;
    background: transparent;
}

.profile-info-pic img {

    width: auto;
    height: 100%;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.profile-username {
    display: inline-block;
    margin-right: 5px;
    margin-top: 30px;
    font-weight: lighter;
    width: 300px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    overflow-wrap: break-word;
}

.edit-profile {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    width: 110px;
    margin-left: 50px;
    border: none;
    background-color: white;
    color: gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#videoAlertBox {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 100ms backwards;
    display: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #aaa;
    border-radius: 10px;
    position: fixed;
    width: 350px;
    height: 160px;
    left: 40%;
    top: 20%;
    box-sizing: border-box;
    text-align: center;
}

#videoAlertBox button {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 100ms backwards;
    display: inline-block;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: #1DA1F2;
    padding: 5px;
    text-align: center;
    width: 60px;
    cursor: pointer;
}

#videoAlertBox button:active {
    outline: none;
}

#videoAlertBox .videoAlertMessage {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 50ms backwards;

    text-align: center;
}

#imageAlertBox {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 100ms backwards;
    display: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #aaa;
    border-radius: 10px;
    position: fixed;
    width: 350px;
    height: 160px;
    left: 40%;
    top: 20%;
    box-sizing: border-box;
    text-align: center;
}

#imageAlertBox button {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 100ms backwards;
    display: inline-block;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: #1DA1F2;
    padding: 5px;
    text-align: center;
    width: 60px;
    cursor: pointer;
}

#imageAlertBox button:active {
    outline: none;
}

#imageAlertBox .imageAlertMessage {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 50ms backwards;

    text-align: center;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}




.no-of-posts {
    position: absolute;
    top: 110px;
    width: 130px;
    height: 30px;
    font-weight: lighter;
    text-align: left;
    word-spacing: 5px;
    font-size: 20px;
}

.no-of-posts span:first-of-type {
    font-weight: bold;
}


.no-of-furiends {
    position: absolute;
    top: 110px;
    left: 200px;
    width: 130px;
    height: 30px;
    text-align: left;
    font-weight: lighter;
    word-spacing: 5px;
}

.no-of-furiends span:first-of-type {
    font-weight: bold;
}

.profile-name {
    position: absolute;
    top: 160px;
    white-space: nowrap;
    width: auto;
    overflow-wrap: break-word;
    left: 1px;
    text-align: left;
    word-spacing: 5px;
}

#profile-picture-modal-title {
    margin: 0 auto;
}

#change-profpic-middle-part button {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 400px;
    background: transparent;
    color: black;
    border: none;
    line-height: 50px;
}

.upload-photo-modal span {
    margin: 0 auto;
    color: #1DA1F2;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 400px;

}

.remove-current-photo span {
    margin: 0 auto;
    color: rgb(190, 50, 10);
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 400px;
}

#modal-cancel span {
    margin: 0 auto;

}

#change-profpic-close {
    border: none;
    background-color: transparent;
}

.search-results-filter {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-right: 0;
    margin-left: 0px;
}

.search-results-filter button {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    font-size: 14px;
    color: #2e2d2def;
    text-overflow: ellipsis;
}

.search-results-filter button:hover {
    background-color:#c2c5c775;
    cursor: pointer;
}

.search-results-filter button:active {
    background-color:#c2c5c775;
    cursor: pointer;
    border-color: none;
}

#search-results-container {
    width: 100%;
    height: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    overflow-y: visible;
}

@media screen and (max-width:1000px) {
    .search-results-filter{
        justify-content: center;
        padding-left: 0;
    }

    #search-results-container{
        margin: 0px;
    }
}


.search-result-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 100%;
}

.search-result-main-container .search-result-mid {
    grid-column: 2 / 3;
    width: 540px;
    max-width: 540px;
}

@media screen and (max-width: 1040px) {
    .search-result-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
        
}

.search-result-main-container .search-result-mid .actual-results-container {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    border-top: 3px solid #1DA1F2;
    padding-top: 10px;
    width: 100%;
}


.search-result-main-container .search-result-anchors {
    grid-column: 1 / 2;
    display: flex;
    justify-content: end;
    min-width: 225px;
}

.search-result-main-container .search-result-anchors .search-result-side-content {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    max-width: 200px;
    position: sticky;
    top: 70px;
    background-color: white;
    padding-top: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    border-top: 3px solid #1DA1F2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: flex-start;
    font-size: 14px;
}

.search-result-main-container .search-result-anchors .search-result-side-content span {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
}

.search-result-main-container .search-result-anchors .search-result-side-content a {
    display: block;
    padding: 10px 0px 10px 20px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #6e69692a;
    color: #000000;
    transition: background-color 200ms linear;
}

.search-result-main-container .search-result-anchors .search-result-side-content a:hover {
    background-color:#c2c5c7b7;
    
}

.search-result-main-container .search-result-ad {
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}


@media screen and (max-width:1300px) {
    .search-result-main-container .search-result-ad {
        display: none;
    }
}

.search-result-main-container .search-result-ad .search-result-side-content {
    position: sticky;
    top: 70px;
    background-color: white;
    border-radius: 5px;
    height: 300px;
    width: 250px;
    overflow-y: clip;
    overflow-x: clip;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.search-result-main-container .search-result-ad .search-result-side-content img{
    width: 240px;
}

@media screen and (max-width:1040px) {
    .search-result-main-container .search-result-ad {
        display: none;
    }
    .search-result-main-container .search-result-anchors {
        display: none;
    }
    .search-result-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .search-result-main-container .search-result-mid {
        width: 100%
    }


}
.search-result-post .search-result-post-desc {
    width: 100%;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
}

.search-result-post .search-result-post-media {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.search-result-inner-carousel {
    width: 100%;
    max-width: 540px;
    max-height: 600px;
    overflow-y:hidden;
    display: flex;
    align-items: center;
    background-color: black;
}


.search-result-post-media img {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.search-result-post-media video {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
}

    


.search-result-post {
    background-color: white;
    margin: 0px; 
    margin-bottom: 5px;
    padding-top: 10px;
    border-radius: 2px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    border-left: none;
    border-right: none;
}

.search-result {
    width: 100%;
}

.search-result-post-upper {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
}

.search-result-post-upper .post-upper {
    text-decoration: none;
}

.search-result-post-upper .post-upper:hover {
    text-decoration: underline;

}


.search-result-container {
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10px;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(167, 144, 144, 0.664);
}

.search-result-container:hover {
    background-color: #c2c5c775;
}


.search-result-container .left-pfp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-result-container .left-pfp img {
    height: 58px;
    width: 58px;
    overflow: hidden;
}


.result-profile-info {
    width: 100%;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.result-profile-info .name {
    display: flex;
    justify-content: center;
}


.search-result-container a {
    text-decoration: none;
}


.result-profile-info p {
    margin: 0px;
}

.search-result-container a:hover {
    text-decoration: underline;
}

.search-result-container img {
    height: 80px;
    border-radius: 50%;
}

.confirm-delete-media-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirm-delete-media-div .cancel {
    background-color: #757575;
}

.confirm-delete-media-div button.cancel:active {
    background-color: #4d4a4a;
}

.confirm-delete-media-div .cancel:hover {
    background-color: #6e6969;
}
@keyframes append-animate {
    from {
        transform: scaleY(0);
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.new-comment {
    transform-origin: 50% 0;
    animation: append-animate .3s linear;
}
.jobs-main-container{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr minmax(200px,1fr);
}


/* SIDEBAR FOR JOBS */
.jobs-main-container .jobs-container2 { 
    padding-top: 20px;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

.jobs-main-container .jobs-container2 .navbar-nav {
    position: sticky;
    top: 20px;
    border-radius: 5px;
    width: 80%;
    background-color: white;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 144, 144, 0.664);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.jobs-main-container .jobs-container2 li{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #1DA1F2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    width: 100%;
    transition: background-color 200ms linear;
}

.jobs-main-container .jobs-container2 li:hover {
    background-color:#c2c5c7b7;
    cursor: pointer;
}


.jobs-main-container .jobs-container2 li span > span {
    font-size: 12px;
}

.jobs-main-container .jobs-container2 li span > i {
    font-size: 20px;
    margin-right: 10px;
}


.jobs-main-container .jobs-container2 li.jobs-sidebar-logo, .jobs-main-container .jobs-container2 li.jobs-sidebar-logo:hover {
    cursor: default; 
    font-size: 24px;
    color:white;
    background-color: #1DA1F2;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;  
    transform: scale(1);
}

.jobs-main-container .jobs-container3 .modal-content {
    text-align: left;
}



.jobs-main-container .jobs-container3 {
    grid-column: 1 / 2;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 130px;
}

#job_home_cont {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    column-gap: 15px;
}

#job_home_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-top: 10px;
}

.add-job-btn {
    position: fixed;
    background-color: white;
    font-weight: bolder;
    width: 150px;
    border-radius: 25px;
    color:#127bbd;
    transition: transform 200ms linear;
}

.add-job-btn:hover {
    background-color: white;
    color: #127bbd;
    transform: scale(1.03);
}

.add-job-btn:active {
    background-color: white;

}

#job_home_feed {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.job-feed-card {
    background-color: white;
    height: 225px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border-top: 3px solid #1DA1F2;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


#FL-applications-cont, #FL-ongoing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.FL-job-apply {
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.112) 0px 7px 29px 0px;  
    border: 1px solid rgba(167, 144, 144, 0.664);
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.circle-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.FL-job-apply img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.FL-job-apply div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.FL-job-apply div span {
    text-align: left;
}

.FL-job-apply div:first-child {
    margin-top: 3px;
}

.FL-job-apply div:last-child {
    margin-top: 10px;
    flex-direction: row;
    column-gap: 5px;
}




#PE-job-posted-cont, #PE-ongoing-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.PE-jobs-posted {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.112) 0px 7px 29px 0px;  
    border: 1px solid rgba(167, 144, 144, 0.664);
}


.PE-jobs-posted > div {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.PE-jobs-posted > div span {
    text-align: left;
}

.PE-jobs-posted img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.PE-jobs-posted div:first-child {
    margin-top: 3px;
}

.PE-jobs-posted div:last-child {
    margin-top: 10px;
}

#PE-applicants-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.PE-applicant {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.112) 0px 7px 29px 0px;  
    border: 1px solid rgba(167, 144, 144, 0.664);
}

.PE-applicant img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.PE-applicant div {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.PE-applicant div span {
    text-align: left;
}

.PE-applicant div:first-child {
    margin-top: 3px;
}

.PE-applicant div:last-child {
    margin-top: 10px;
    flex-direction: row;
    column-gap: 5px;
}




@media all and (max-width: 1300px) {
    
    #FL-applications-cont, #FL-ongoing {
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .FL-job-apply {
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        row-gap: 5px;
        padding-bottom: 15px;
    }

    .FL-job-apply div {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15%;
        column-gap: 20px;
    }

    .FL-job-apply div:first-child {
        padding: 10px 0px 10px 0px;
    }

    .FL-job-apply div:first-child, .FL-job-apply div:last-child {
        padding-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .FL-job-apply div span:first-child {
        width: 88px;
    }


    .FL-job-apply img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }


    #PE-applicants-cont {
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .PE-applicant img{
        height: 75px;
        width: 75px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    .PE-applicant {
        flex-direction: column;
        align-items: flex-start; 
        width: 300px;
        row-gap: 5px;
        padding-bottom: 15px;
    }

    .PE-applicant div span:first-child{
        width: 66px;
    }

    .PE-applicant div:first-child, .PE-applicant div:last-child {
        padding-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .PE-applicant div:last-child {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
    }

    .PE-applicant div:last-child button, 
    .PE-applicant div:last-child a {
        width: 120px;
    }



    .PE-applicant div {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
        column-gap: 20px;
    }

    



    .PE-jobs-posted div span:first-child{
        width: 66px;
    }

    .PE-jobs-posted div {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
        column-gap: 20px;
    }


    .PE-jobs-posted div:first-child, .PE-jobs-posted div:last-child {
        padding-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .PE-jobs-posted div:last-child {
        margin-top: 15px
    }

    .PE-jobs-posted {
        flex-direction: column;
        align-items: flex-start; 
        width: 300px;
        row-gap: 5px;
        padding-bottom: 15px;
    }
    .PE-jobs-posted img {
        height: 75px;
        width: 75px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    #PE-job-posted-cont, #PE-ongoing-cont {
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
}





@media all and (max-width: 1000px) {


    #job_home_cont {
        flex-direction: column;
        row-gap: 10px;
    }
    #job_home_controls {
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }

    #top-nav {
        box-shadow: none;
    }

    .jobs-main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 100px;
    }

    .jobs-container2 {
        position: fixed;
        bottom: 0px;
        width: 100%;
        order: 2;
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .jobs-container3 {
        order: 1;
        width: 100%;
    }

    .jobs-container2 .navbar-nav {
        flex-direction: row !important;
        bottom: 0;
        position: fixed;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
        border-radius: 0px !important;
        border-style: none !important;
    }

    .jobs-container2 .navbar-nav li {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }


    .jobs-container2 .navbar-nav li > span > span {
        display: none;
    }
    .jobs-container2 .navbar-nav li > span > i {
        font-size: 16px;
    }



    .jobs-sidebar-logo {
        display: none !important;
    }

    .base-sidebar {
        position: fixed;
        margin: 0px;
        top:60px;
        border-style: none;
        border-radius: 0px;
        height: 40px;
        width: 100%;
        overflow-y: hidden;
        /* border-bottom: 1px solid rgba(167, 144, 144, 0.664); */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 100;

    }
    .base-sidebar .base-sidebar-nav {
        flex-direction: row;
        height: 100%;
        justify-content: space-evenly;

    }

    .base-sidebar .base-sidebar-nav span{
        display: none;
    }

    .base-sidebar .base-sidebar-nav li {
        flex-shrink: 1;
        height: 100%;
        justify-content: center;
    }
    .base-sidebar .base-sidebar-nav li img {
        padding: 0px 0px 0px 0px;
        height: 20px;
        width: 20px;
        overflow: hidden;
        object-fit: cover;
    }

    .base-sidebar .base-sidebar-nav .base-sidebar-pfp {
        display: none;
    }
    .base-sidebar-nav li:hover {
        background-color: #c2c5c775;
        cursor: pointer;
    }
    
    main.content {
        margin-top: 40px;
        margin-left: 0px;
        width: 100%;
    }

    .modal {
        z-index: 10000;
    }


}

.btn {
    font-weight: 500;
    /* border: none; */
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }
    
  .btn:hover {
    box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
    transform: translateY(-7px);
  }
