{% extends 'auth/base.html' %} 

{% block title %}
FurPaws - Index
{% endblock %}

{% block body_content %}
<div class="mid-section text-white d-flex flex-row load-from-right">
  <div class="text-light d-flex flex-column " style="max-width: 600px">
    <div class="d-flex align-items-center align-self-end mb-3" style="height: 50px;">
        <img src="../../static/img/fp_logo_trans.png" loading="lazy" class="small-logo m-0" alt="furpaws_logo" srcset="">
        <img src="../../static/img/furpaws_trans.png" loading="lazy" class="small-logo-text m-0" alt="furpaws_logo" srcset="">
    </div>
    <h1 class="text-end align-self-end fw-medium">Connect with pet lovers.</h2>
    <p class="text-end  text-wrap align-self-end" style="max-width: 600px">Interact with other pet lovers, make new friends, share your precious moments, hire pet care freelancers.</p>
    <div class="d-flex justify-content-end">
      <a href="/login" class="text-wrap btn btn-outline-light btn-lg rounded-5 ms-2" style="width: 150px;"> Log in </a>
      <a href="/register" class="text-wrap btn btn-outline-light btn-lg rounded-5 ms-2" style="width: 150px;"> Sign Up </a>
    </div>
    
  </div>
</div>
{% endblock %}