{% extends 'auth/base.html' %}

{% block body_content %}
<div id="register-container" style="margin-bottom: 50px;">
  <div class="register-section shadow2  load-from-right">
    <div class="left-side">
      <div class="d-flex flex-row justify-content-start pe-3">
        <div style=" width: 60px" class="align-self-start" >
          <img src="../../static/img/fp-logo-round-white.png" alt="" style="height: 60px;">
        </div>
        <h2 class="fp-blue fw-semibold align-self-end" >Register</h2>
      </div>
          <form id="register">
            <div class="pt-4 d-flex flex-column position-relative register-input-div" id="register-form">
              <h6 class="fp-blue">Account Info</h6>
              <div class="input-icon d-flex flex-column form-group pb-1">
                <input id="email" name="email" class="auth-input m-0 p-2 form-control" type="text" placeholder="E-mail">
                <i class="bi-envelope"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="tag"  id="tag" class="auth-input m-0 p-2 form-control form-contro" type="text" placeholder="Tag">
                <i class="bi-at"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <select name="account_type" id="account_type" class="auth-input m-0 p-2 form-control" type="text" placeholder="Tag">
                  <option class="text-muted" value="" disabled selected hidden>Select Account Type</option>
                  <option value="pet_owner">Pet Owner</option>
                  <option value="freelancer">Freelancer</option>
                </select>
                <i class="bi-person-gear"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column  pb-1">
                <input name="password" id="password" class="auth-input m-0 p-2 form-control" type="password" placeholder="Password">
                <i class="bi-shield-lock"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column  pb-1">
                <input name="password2" id="password2" class="auth-input m-0 p-2 form-control" type="password" placeholder="Confirm Password">
                <i class="bi-shield-lock"></i>
                <span style="height: 16px;"></span>
              </div>
              <br/>
  
              <h6 class="fp-blue">Personal Info</h6>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="first_name" id="first_name" class="auth-input m-0 p-2 form-control" type="text" placeholder="First Name">
                <i class="bi-person"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="last_name" id="last_name" class="auth-input m-0 p-2 form-control" type="text" placeholder="Last Name">
                <i class="bi-person"></i>
                <span style="height: 16px;"></span>
              </div>
              <br/>
  
              <h6 class="fp-blue">Address</h6>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="city" id="city" class="auth-input m-0 p-2 form-control" type="text" placeholder="City">
                <i class="bi-geo"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="state" id="state" class="auth-input m-0 p-2 form-control" type="text" placeholder="State">
                <i class="bi-pin-map"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="zipcode" id="zipcode" class="auth-input m-0 p-2 form-control" type="text" placeholder="Zip">
                <i class="bi-geo-alt"></i>
                <span style="height: 16px;"></span>
              </div>
              <div class="input-icon d-flex flex-column pb-1">
                <input name="country" id="country" class="auth-input m-0 p-2 form-control" type="text" placeholder="Country">
                <i class="bi-map"></i>
                <span style="height: 16px;"></span>
              </div>
              <br/>
              <br/>
              <div class="d-flex flex-row align-items-center mt-2">
                <button type="button" class="btn btn-fp-blue rounded-5 me-2" onclick="register_user()"> Register</button>
                <a href="/login" class="btn-link ms-auto" style="font-size: 12px;" >already have an account?</a>
              </div>
              <br/>
              <br/>
            </div>
          </form>
    </div>  

    <style>
      body {
        background-image: url('../../static/img/bg-paws.jpg');
        background-size: auto;
        background-repeat: repeat;
      }
    </style>
    <div class="right-side ">
      <div class="d-flex justify-content-center align-items-center h-100 w-100">
        <img src="../../static/img/female-model-wbrand.png" alt="" style="height: 75%;">
      </div>
      </div>
    </div >
</div>

{% endblock %}