<div class="toast-container p-3 load-from-bottom bounce bottom-left-toast">
    <div class="toast" data-bs-autohide="false" data-bs-animation="false">
      <div class="toast-header">
        <img src="../../static/img/fp-logo-round-white.png" class="rounded toast-logo" alt="...">
        <img src="../../static/img/fp-logo-text-white.png" class="rounded toast-text-logo me-auto" alt="...">
        <small></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <span id="toast-icon"><i class="bi-check-circle-fill text-success"></i></span>
        <span id="toast-message">My message</span>
      </div>
    </div>
</div>