{% extends 'base.html' %}

{% block body_content%}
<style>
	div.content {
		height: calc(100vh + 100px);
	}
</style>

<div class="jobs-main-container">
	<div class="jobs-container3" id="job-container-feed">
	</div>

	<nav class="jobs-container2">
		<ul class="navbar-nav">
			<li class="jobs-sidebar-logo" >
				<span href="" class="text-decoration-none">
					<i class="fa-solid fa-paw text-white"></i>	
					<span class="text-white">PET CARE</span>
				</span>
			</li>

			<li hx-trigger="click, load" hx-get="/jobs/job-posting" hx-target="#job-container-feed" hx-swap="innerHTML">
				<span class="text-decoration-none fp-text-blue" >
					<i class="fa-solid fa-briefcase"></i>
					{% if current_user.account_type == "pet_owner"%}
					<span>Job Posting</span>
					{% else %}
					<span>Current Jobs</span>
					{% endif %}
				</span>
			</li>
			{% if current_user.account_type == "pet_owner"%}
			<li hx-trigger="click" hx-get="/jobs/pet-owner/freelancers" hx-target="#job-container-feed" hx-swap="innerHTML">
				<span href="#" class="text-decoration-none fp-text-blue" >
					<i class="fa-solid fa-shield-dog"></i>
					<span>Freelancers</span>
				</span>
			</li>
			{% else %}
			<li hx-trigger="click" hx-get="/jobs/freelancer/job-search" hx-target="#job-container-feed" hx-swap="innerHTML">
				<span href="#" class="text-decoration-none fp-text-blue" >
					<i class="fa-solid fa-shield-dog"></i>
					<span>Job Search</span>
				</span>
			</li>
			{%endif%}
			<li hx-trigger="click" hx-get="/jobs/reviews" hx-target="#job-container-feed" hx-swap="innerHTML">
				<span href="#" class="text-decoration-none fp-text-blue" >
					<i class="fa-solid fa-star"></i>
					<span>Reviews</span>
				</span>
			</li>
			<li hx-trigger="click" hx-get="/jobs/history" hx-target="#job-container-feed" hx-swap="innerHTML">
				<span href="#" class="text-decoration-none fp-text-blue" >
					<i class="fa-solid fa-clock-rotate-left"></i>
					<span>History</span>
				</span>
			</li>
		</ul>
		
	</nav>	
		
</div>
{%endblock%}

{% block special_modals %}
<!-- ADD JOB MODAL -->
<div class="modal fade" id="create-job-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <form action="/jobs/pet-owner/create-jobs" method="post" style="font-family: Poppins, sans-serif;">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="modal-header">
        <h1 class="modal-title fs-6 fw-semibold" id="exampleModalLabel">Create Job </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3" style="font-size: 14px;">
			<label for="job-type" class="form-label">Job type</label>		
            <select name="job_type" class="form-select" aria-label="Default select example">
				<option value="Pet Walk">Walking</option>
				<option value="Vet Escort">Vet Escort</option>
				<option value="Pet Sitting">Pet Sitting</option>
				<option value="Feeding">Feeding</option>
				<option value="Others">Others</option>
			  </select>
          </div>

		  <div class="mb-3">
            <label for="job-schedule" class="form-label">Schedule</label>
			<input type="datetime-local" id="job-schedule" name="job_schedule" class="form-control" min="">
          </div>

		  <div class="mb-3">
            <label for="job-rate" class="form-label">Job rate</label>
			<input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="job-rate" name="job_rate" min="1.00" 
			step=".01" class="form-control" placeholder="$">
          </div>
		
          <div class="mb-3">
            <label for="message-text" class="form-label">Job Details</label>
            <textarea class="form-control" name="job_description" id="message-text" style="max-height:100px;"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Job details Modal -->
{% for job in jobs_posted %}
   <div class="modal fade" id="job-{{job.job_details.job_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="staticBackdropLabel">Job Details</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" style="background-color:rgba(167, 144, 144, 0.212);">
			<p style="font-size: 14px;">{{job.job_details.job_description}}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

	{% for applicant in job.job_details.applicants %}
	<div class="modal fade" id="hire-applicant-{{applicant.tag}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Hire this mf?
				</div>
				<div class="modal-footer">
					<form action="/jobs/pet-owner/hire" method="post">
						<input type="hidden" value="{{csrf_token()}}" name="csrf_token">
						<input type="hidden" value="{{applicant.tag}}" name="applicant_tag">
						<input type="hidden" value="{{job.job_id}}" name="job_id">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Hire</button>
					</form>

				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endfor%}

<!-- Job Application Modal -->

{% for job in available_jobs %}
  <div class="modal fade" id="job-{{job.job_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="staticBackdropLabel">Job Details</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" style="background-color:rgba(167, 144, 144, 0.212);">
			<p style="font-size: 14px;">{{job.poster_details}}</p>
		</div>
		<div class="modal-footer">
			<form action="/jobs/freelancer/apply-job" method="post">
				<input type="hidden" value="{{csrf_token()}}" name="csrf_token">
				<input type="hidden" value="{{job.job_id}}" name="job_id">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary" >
			<span >Apply</span>
		  </button>
			</form>
		</div>
	  </div>
	</div>
  </div>
{% endfor%}


{% endblock %}