{% extends 'base.html' %}
{% include 'jobs/sidebar_changes.html' %}



{% block body_content%}
<style>
	div.content {
		height: calc(100vh + 100px);
	}
</style>

<div class="jobs-main-container">
	<section><p>FREELANCE PET CARE</p></section>
	<div>
		<div class="jobs-info-container">
			<div class="top">
				<div class="left">
					<div class="left-title"><p>Job Status</p></div>
					<div class="left-content"> 
						<button class="btn btn-fp-blue">+Add Job</button>
					</div>
				</div>
				<div class="right">
					<div class="right-title"><p>Reviews</p></div>
					<div class="right-content scroll-style1"> 
						<div class="review-card"></div>
						<div class="review-card"></div>
						<div class="review-card"></div>
						<div class="review-card"></div>
						<div class="review-card"></div>
						<div class="review-card"></div>
						<div class="review-card"></div>
					</div>
				</div>
			</div>
			<div class="bot">
				<div class="bot-top">
					<p>Pet Sitters</p>
					<input type="text" placeholder="&#xf002; Search" style="font-family: FontAwesome, Readex Pro, sans-serif;">
				</div>
				<div class="bot-bot scroll-style1">
					<div class="review-card"></div>
					<div class="review-card"></div>
					<div class="review-card"></div>
					<div class="review-card"></div>
					<div class="review-card"></div>
					<div class="review-card"></div>

				</div>
			</div>
		</div>
		<div class="jobs-history">
			<p>History</p>
			<hr>
			<div class="jobs-hist-container scroll-style1 scroll-v">
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				<div class="jobs-hist-item">
					<img src="../../static/img/test_profilepic.png" alt="" style="height: 50px;">
					<div class="hist-item-details">
						<div class="fw-bold" style="font-size: 16px;">Freelancer Name</div>
						<div class="fw-light" style="font-size: 14px;">Vet Visit</div>
						<div class="fw-lighter" style="font-size: 14px;">08/22/2023</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{%endblock%}