<div id="job_home_cont" class="">
    <div id="job_home_controls" >
        <button type="button" style="z-index: 20;" class="button-17 add-job-btn border-0" data-bs-toggle="modal" data-bs-target="#create-job-form" >&plus; Post Job</button>
    </div>
    <div id="job_home_feed" class="">
        <div class="d-flex flex-row w-100 align-items-center" style="column-gap: 5px;">
            <span class="d-inline-block text-muted" style="font-size: 12px;">Available Jobs</span>
            <hr class="d-inline-block d-inline" style="flex:1; margin-right:25px">
        </div>

        <div id="PE-job-posted-cont" style="row-gap: 5px;">
            {% if available_jobs|length == 0 %}
            <h5 style="margin-top: 10px; margin-left:25px;" class="text-muted d-block">No available jobs.</h5>
            {% else %}
            {% for job in available_jobs %}
                <div class="PE-jobs-posted" style="margin-top: 10px;" >
                    <div>
                        <img src="../../static/img/test_profilepic.png" alt=""  style="border-radius: 50%; overflow:hidden;">
                    </div>
                    <div>
                        {% set pet_owner = job.poster_details %}
                        {% set first_name = pet_owner.first_name.split(' ')[0] %}
                        <span  class="text-muted fs-10">Pet Owner</span>
                        <span class="fs-14 fw-bolder" style="max-width: 120px; white-space:wrap;">
                            {{first_name}} {{pet_owner.last_name}}
                        </span>
                    </div>
                    <div class> 
                        <span class="text-muted fs-10">Job type</span>
                        <span class="fs-12 fw-semibold">{{job.job_type}}</span>
                    </div>      
                    <div>
                        <span  class="text-muted fs-10">Job Schedule</span>
                        <span class="fs-12 fw-semibold" style="max-width: 80px; white-space:wrap;">{{job.job_schedule}}</span>
                    </div>
                    <div>
                        <span  class="text-muted fs-10">Job Rate</span>
                        <span class="fs-12 fw-semibold">&dollar;{{job.job_rate}}</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary fs-12 rounded-5" data-bs-toggle="modal" data-bs-target="#job-{{job.job_id}}" style="max-width: 120px;">
                        Job Details
                      </button>
                      
                    </div>

                </div>
                
            {%endfor%}
            {% endif %}
        </div>

    </div>
</div> 
{% for job in available_jobs %}
<div class="modal fade" id="job-{{job.job_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
	<div class="modal-content">
	  <div class="modal-header">
		<h1 class="modal-title fs-5" id="staticBackdropLabel2">Job Details</h1>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body" style="background-color:rgba(167, 144, 144, 0.212);">
		  <p style="font-size: 14px;">{{job.poster_details}}</p>
	  </div>
	  <div class="modal-footer">
		  <form action="/jobs/freelancer/apply-job" method="post">
			  <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
			  <input type="hidden" value="{{job.job_id}}" name="job_id">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary" >
		  <span >Apply</span>
		</button>
		  </form>
	  </div>
	</div>
  </div>
</div>
{% endfor%}

