{% extends 'base.html' %}

{% block title %}FurPaws - Messages{% endblock %}

{%block body_content%}
<input type="hidden" value="{{current_user.tag}}" id="current_user">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script>
	var socket = io();
	var current_room = null;
</script>




<!-- START CONVERSTAION -->
<form action="/messages/start-conversation" method="POST" >
	<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
	<div class="modal fade" id="start-conversation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="">Start a New Conversation</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="recipient" name="recipient" placeholder="Enter Recipient" required onkeyup="verifySearch(this)">
						<label for="recipient">Recipient's tag</label>
						<span class="fs-12 float-end" id="fback-message"></span>
					</div>
					<div class="mb-3" style="text-align:left">
						<label for="message" class="fs-12">Your message</label>
						<textarea name="message" id="message" cols="30" rows="10" required class="form-control" style="max-height: 150px;"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-secondary" id="startBtn" disabled>Send</button>
				</div>
			</div>
		</div>
	</div>
</form>

<link rel="stylesheet" href="../../static/css/messages.css">
<div class="" id="msgs-main-cont">
    <div id="chats-cont" class="shadow2">
        <div id="search-bar" class="" >
            <form >
                <input class="search-container fs-10" id="searchbar" name="searchbar" placeholder="&#xF002; Search Messages" style="font-family: Readex Pro, sans-serif, FontAwesome; background-color:transpartent; width:100%;" hx-get="messages/get-conversations/{{current_user.tag}}" hx-target="#conv-list" hx-swap="innerHTML" hx-trigger="keyup" onkeydown= "return (event.keyCode!=13);">
							</form>
        </div>
				<div id="chat-box">
					<div class="w-100 d-flex justify-content-start align-items-center top">
							<span class="fw-bold fs-14 mb-1">Select a conversation.</span>
						<div class="" style="margin-left: auto;">
							<div class="dropdown" style="z-index:1;">
								<a data-bs-toggle="dropdown" aria-expanded="false" class="text-dark text-decoration-none" style="cursor: pointer;"><i class="fa-solid fa-bars"></i></a>
								<ul class="dropdown-menu">
									<li class="cursor-pointer"><a class="dropdown-item fs-14" data-bs-toggle="modal" data-bs-target="#start-conversation"><i class="fa-solid fa-pen fs-16 text-primary"  ></i> New Conversation</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="w-100 mid" id="chatBox">
						<div class="d-flex w-100 justify-content-center flex-column align-items-center h-100">
							<img src="../../static/img/female-model.png" alt="" style="height:90%; object-fit:contain">
							<h5>Select or start a new conversation</h5>
						</div>							
					</div>
					<div class="bottom w-100 d-flex justify-content-end align-items-center" style="padding:0px 15px 0px 15px; column-gap:10px;">
						<textarea name="message_sent" id="message_sent" class="fs-16" 1 placeholder="Type a message..." disabled></textarea>
						<button class="btn btn-primary text-white fs-12 rounded-5" id="sendBtn">
							Send <i class="fa-solid fa-paper-plane"></i>
						</button>
					</div>
				</div>	
        <div id="conv-list" hx-get="/messages/get-conversations/{{current_user.tag}}" hx-target="#conv-list" hx-swap="innerHTML" hx-trigger="load">
        </div>
        
    </div>

</div>  

{%endblock%}



{# 
	

<div class="send chat">
	<p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, molestiae quae beatae inventore nisi maxime. <span class="text-muted fs-10">10:35 PM</span></p>
	<img src="../../static/img/freelancer_sample.jpg" class="circle-pfp" alt="">
</div>

<div class="receive chat">
	<img src="../../static/img/postprofile.jpg" class="circle-pfp" alt="">
	<p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem. <span class="text-muted fs-10">10:35 PM</span></p>
</div>

<div class="conv-card" style="height: 75px;">
	<img src="../../static/img/freelancer_sample.jpg" alt="" class="circle-pfp" >
	<div class="d-flex flex-column cursor-pointer; text-align:left;">
		<span class="fw-bold fs-12 username">user_tag</span>
		<span class="fw-normal fs-12 one-line-ellips" style="max-width:150px;max-height:18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia, repellat voluptas perferendis rem molestias maiores odio corrupti tempore nulla autem sapiente, possimus soluta aliquam!</span>
	</div>
</div>

	
	
	



	#}